html, body {
    font-family:Georgia, serif;
	padding: 50px;
	background-color:#660033;
}
header {
	margin: 0px;
	background-color:#660033;
}
h1{
	text-align: center;
	margin: 0px;
	font-size: 120px;
	color:white;
	font-weight: 80;
}
header img {
	max-width: 100%;
	

}
.content{
     font-size: 30px;
     color: white; 
}
footer ul li{
	color: white;
	display: inline;
}